python >= 3.6
torch >= 1.0
tensorboardX >= 1.6
utils-misc >= 0.0.5
mscv >= 0.0.3
albumentations >= 0.4.0
torch-template >= 0.0.4
timm == 0.1.30  # timm >= 0.2.0 is not compatible
typing_extensions == 3.7.2
tqdm >= 4.49.0
